<!-- offline.component.html -->


  


  <section class="section section-shaped"  style="padding-top: 2rem;
padding-bottom: 3rem;">
    <div class="shape shape-style-1 bg-gradient-default">
    </div>
</section>



<div style="background-color: #d5d8ea; color: white; text-align: center; height: 50vh; width: 100%;" class="sectionpage_notfound">
    <div class="found_section" style="position: relative; top: 5rem;">
      <h2 class="oops" style="color: white;">You are offline</h2>
      <h1 class="pagenotfound" style="font-size: 186px; font-weight: 900; color: white;"><p>Please check your internet connection and try again.</p></h1>
     
     
    </div>
  </div>