/* You can add global styles to this file, and also import other style files */
.text-muted{
    color: white !important;
}



.btn-primary{
background-color: #172b4d !important ;
color: #fff;

border-color: #172b4d !important;
box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
border: 0px;

}

.container{
    max-width: 1440px !important;
}