<div class="modal-header">
    <h4 class="modal-title">Share Referral</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="refereeEmail" [(ngModel)]="refereeEmail">
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="share()">
      <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      <span *ngIf="loading">Loading...</span>
      <span *ngIf="!loading">Share</span>
    </button>
  </div>
  