<!-- <div class="password-container">
    <h2>{{ isForgotPassword ? 'Forgot Password' : 'Reset Password' }}</h2>
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
      <div *ngIf="isForgotPassword">
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email" required>
      </div>
      <div *ngIf="!isForgotPassword">
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" formControlName="newPassword" required>
      </div>
      <button type="submit">{{ isForgotPassword ? 'Send Reset Email' : 'Reset Password' }}</button>
    </form>
  </div> -->

<main>
    <section class="section section-shaped section-lg">
        <div class="shape shape-style-1 bg-gradient-default">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="container pt-lg-md">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card bg-secondary shadow border-0">
                        <div class="card-header bg-white pt-2">
                            <div class="text-muted text-center">
                                <h2>{{ isForgotPassword ? 'Forgot Password' : 'Reset Password' }}</h2>
                            </div>
                        </div>
                        <div class="card-body px-lg-5 py-lg-5">


                            <form role="form" [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
                                <!-- <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()"> -->

                                <div class="form-group mb-3" *ngIf="isForgotPassword">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                        </div>
                                        <!-- <input type="email" id="email" placeholder="email" formControlName="email"
                                            required> -->
                                        <input class="form-control" placeholder="Email" type="email"
                                            formControlName="email" />
                                    </div>
                                </div>
                                <div class="form-group mb-3" *ngIf="!isForgotPassword">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                        </div>
                                        <!-- <input type="password" id="newPassword" placeholder="new password"
                                            formControlName="newPassword" required> -->
                                        <input class="form-control" placeholder="new password" type="password"
                                            formControlName="newPassword" />
                                    </div>
                                </div>

                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary my-4">{{ isForgotPassword ? 'Send Reset
                                        Email' : 'Reset Password'
                                        }}</button>
                                </div>
                            </form>
                            <!-- </form> -->
                            <div *ngIf="passwordResetSuccess" class="text-success">
                                Password reset successful. You can now log in with your new password.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>