<main>
  <section class="section section-shaped section-lg">
    <div class="shape shape-style-1 bg-gradient-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-white pt-2">
              <div class="text-muted text-center ">
                <h2>Sign Up</h2>
              </div>
            </div>
            <div class="card-body px-lg-5 py-lg-5">
              <!-- <div class="text-center text-muted mb-4">
                <small style="color:black;">Or sign up with credentials</small>
              </div> -->
              <form role="form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group" [ngClass]="{'focused': focus1 === true}">
                      <div class="input-group input-group-alternative mb-3">
                        <input class="form-control" placeholder="First Name" type="text" formControlName="firstName"
                          (focus)="focus1=true" (blur)="focus1=false">
                      </div>
                      <div
                        *ngIf="signupForm.get('firstName').hasError('required') && signupForm.get('firstName').touched"
                        class="text-danger">
                        First name is required.
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group" [ngClass]="{'focused': focus2 === true}">
                      <div class="input-group input-group-alternative mb-3">
                        <input class="form-control" placeholder="Last Name" type="text" formControlName="lastName"
                          (focus)="focus2=true" (blur)="focus2=false">
                      </div>
                      <div *ngIf="signupForm.get('lastName').hasError('required') && signupForm.get('lastName').touched"
                        class="text-danger">
                        Last name is required.
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group" [ngClass]="{'focused': focus3 === true}">
                      <div class="input-group input-group-alternative mb-3">
                        <input class="form-control" placeholder="Email" type="email" formControlName="email"
                          (focus)="focus3=true" (blur)="focus3=false">
                      </div>
                      <div *ngIf="signupForm.get('email').hasError('required') && signupForm.get('email').touched"
                        class="text-danger">
                        Email is required.
                      </div>
                      <div *ngIf="signupForm.get('email').hasError('email') && signupForm.get('email').touched"
                        class="text-danger">
                        Please enter a valid email address.
                      </div>
                    </div>

                  </div>

                  <div class="col-md-6">
                    <div class="form-group" [ngClass]="{'focused': focus4 === true}">
                      <div class="input-group input-group-alternative mb-3">
                        <input class="form-control" placeholder="Password" type="password" formControlName="password"
                          (focus)="focus4=true" (blur)="focus4=false">
                      </div>
                      <div *ngIf="signupForm.get('password').hasError('required') && signupForm.get('password').touched"
                        class="text-danger">
                        Password is required.
                      </div>

                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group" [ngClass]="{'focused': focus5 === true}">
                      <div class="input-group input-group-alternative mb-3">
                        <input class="form-control" placeholder="Phone Number" type="text" formControlName="phoneNumber"
                          (focus)="focus5=true" (blur)="focus5=false">
                      </div>
                      <div
                        *ngIf="signupForm.get('phoneNumber').hasError('required') && signupForm.get('phoneNumber').touched"
                        class="text-danger">
                        Phone number is required.
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group" [ngClass]="{'focused': focus6 === true}">
                      <div class="input-group input-group-alternative mb-3">
                        <input class="form-control" placeholder="Address Lane 1" type="text"
                          formControlName="addressLane1" (focus)="focus6=true" (blur)="focus6=false">
                      </div>
                      <div
                        *ngIf="signupForm.get('addressLane1').hasError('required') && signupForm.get('addressLane1').touched"
                        class="text-danger">
                        Address lane 1 is required.
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group" [ngClass]="{'focused': focus7 === true}">
                      <div class="input-group input-group-alternative mb-3">
                        <input class="form-control" placeholder="Address Lane 2" type="text"
                          formControlName="addressLane2" (focus)="focus7=true" (blur)="focus7=false">
                      </div>

                    </div>
                  </div>

                  <!-- Country Dropdown -->
                  <div class="col-md-6">
                    <div class="form-group" [ngClass]="{'focused': focus8 === true}">
                      <div class="input-group input-group-alternative mb-3">
                        <select class="form-control" formControlName="country" (focus)="focus8=true"
                          (blur)="focus8=false" (change)="onCountryChange()">
                          <option value="" disabled>Select Country</option>
                          <option *ngFor="let country of countries" [value]="country.name">{{ country.name }}
                          </option>
                        </select>
                      </div>
                      <div *ngIf="signupForm.get('country').hasError('required') && signupForm.get('country').touched"
                        class="text-danger">
                        Country is required.
                      </div>
                    </div>
                  </div>

                  <!-- State Dropdown -->
                  <div class="col-md-6">
                    <div class="form-group" [ngClass]="{'focused': focus9 === true}">
                      <div class="input-group input-group-alternative mb-3">
                        <select class="form-control" formControlName="state" (focus)="focus9=true" (blur)="focus9=false"
                          (change)="onStateChange()">
                          <option value="" disabled>Select State</option>
                          <option *ngFor="let state of states" [value]="state.name">{{ state.name }}</option>
                        </select>
                      </div>
                      <div *ngIf="signupForm.get('state').hasError('required') && signupForm.get('state').touched"
                        class="text-danger">
                        State is required.
                      </div>
                    </div>
                  </div>

                  <!-- City Dropdown -->
                  <div class="col-md-6">
                    <div class="form-group" [ngClass]="{'focused': focus10 === true}">
                      <div class="input-group input-group-alternative mb-3">
                        <select class="form-control" formControlName="city" (focus)="focus10=true"
                          (blur)="focus10=false">
                          <option value="" disabled>Select City</option>
                          <option *ngFor="let city of cities" [value]="city.name">{{ city.name }}</option>
                        </select>
                      </div>
                      <div *ngIf="signupForm.get('city').hasError('required') && signupForm.get('city').touched"
                        class="text-danger">
                        City is required.
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group" [ngClass]="{'focused': focus11 === true}">
                      <div class="input-group input-group-alternative mb-3">
                        <input class="form-control" placeholder="Zip Code" type="text" formControlName="zipCode"
                          (focus)="focus11=true" (blur)="focus11=false">
                      </div>
                      <div *ngIf="signupForm.get('zipCode').hasError('required') && signupForm.get('zipCode').touched"
                        class="text-danger">
                        Zip code is required.
                      </div>
                    </div>
                  </div>

                  <!-- <div class="col-md-6">
                    <div class="form-group" [ngClass]="{'focused': focus12 === true}">
                      <div class="input-group input-group-alternative mb-3">
                        <select class="form-control" formControlName="interestedInInternship" (focus)="focus12=true" (blur)="focus12=false">
                          <option value="yes">Yes</option>
                          <option value="no">No</option>
                        </select>
                      </div>
                    </div>
                  </div> -->



                 <div class="col-md-6">
                    <div class="form-group" [ngClass]="{'focused': focus13 === true}">
                      <div class="input-group input-group-alternative mb-3">
                        <select class="form-control" formControlName="universityName" (focus)="focus13=true"
                          (blur)="focus13=false">
                          <option value="" disabled>Select University</option>
                          <option *ngFor="let university of universities" [value]="university.university_name">
                            {{ university.university_name }}
                          </option>
                          <option value="other">Other</option>
                        </select>
                      </div>
                      <div
                        *ngIf="signupForm.get('universityName').hasError('required') && signupForm.get('universityName').touched"
                        class="text-danger">
                        University is required.
                      </div>
                    </div>
                  </div>





                  <div class="col-md-6" *ngIf="signupForm.get('universityName').value === 'other'">
                    <div class="form-group" [ngClass]="{'focused': focus14 === true}">
                      <div class="input-group input-group-alternative mb-3">
                        <input class="form-control" placeholder="Other University Name" type="text"
                          formControlName="otherUniversityName" (focus)="focus14=true" (blur)="focus14=false">
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group" [ngClass]="{'focused': focus15 === true}">
                      <div class="input-group input-group-alternative mb-3">
                        <select class="form-control" formControlName="currentProgram" (focus)="focus15=true"
                          (blur)="focus15=false">
                          <option value="" disabled>Select Current Program</option>
                          <option value="masters">Master’s</option>
                          <option value="bachelors">Bachelors</option>
                          <option value="doctorate">Doctorate</option>
                          <option value="done">None</option>
                        </select>

                      </div>
                      <div
                        *ngIf="signupForm.get('currentProgram').hasError('required') && signupForm.get('currentProgram').touched"
                        class="text-danger">
                        Current program is required.
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group" [ngClass]="{'focused': focus16 === true}">
                      <div class="input-group input-group-alternative mb-3">
                        <input class="form-control" placeholder="Graduating Year" type="date"
                          formControlName="graduatingYear" (focus)="focus16=true" (blur)="focus16=false">
                      </div>
                      <div
                        *ngIf="signupForm.get('graduatingYear').hasError('required') && signupForm.get('graduatingYear').touched"
                        class="text-danger">
                        Graduating year is required.
                      </div>
                    </div>
                  </div>
                  <div class="col-md-{{ signupForm.get('universityName').value === 'other' ? '6' : '12' }}">
                    <div class="form-group" [ngClass]="{'focused': focus11 === true}">
                      <div class="input-group input-group-alternative mb-3">
                        <input class="form-control" placeholder="SchoolEmail" type="email" formControlName="schoolEmail"
                          (focus)="focus11=true" (blur)="focus11=false">
                      </div>

                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group" [ngClass]="{'focused': focus17 === true}">
                      <label>Already Graduated:</label>
                      <div class="input-group" style="flex-direction: column;">
                        <div style="display: flex;
                        gap: 1rem;">

                          <input id="alreadyGraduatedYes" type="radio" value="true" formControlName="alreadyGraduated"
                            (focus)="focus17=true" (blur)="focus17=false">
                          <label for="alreadyGraduatedYes">Yes</label>
                        </div>
                        <div style="display: flex;
                        gap: 1rem;">

                          <input id="alreadyGraduatedNo" type="radio" value="false" formControlName="alreadyGraduated"
                            (focus)="focus17=true" (blur)="focus17=false">
                          <label for="alreadyGraduatedNo">No</label>
                        </div>
                      </div>
                      <div
                        *ngIf="signupForm.get('alreadyGraduated').hasError('required') && signupForm.get('alreadyGraduated').touched"
                        class="text-danger">
                        Already graduated is required.
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group" [ngClass]="{'focused': focus19 === true}">
                      <div class="input-group" style="flex-direction: column;">
                        <label for="interestedInInternship">Interested in Internship:</label>
                        <div style="    display: flex;
                        gap: 1rem;">
                          <input id="workAuthorization" type="radio" value="true"
                            formControlName="interestedInInternship" (focus)="focus18=true" (blur)="focus18=false">
                          <label for="workAuthorization" class="radio-label">Yes</label>
                        </div>
                        <div style="    display: flex;
                        gap: 1rem;">

                          <input id="otherAuthorization" type="radio" value="false"
                            formControlName="interestedInInternship" (focus)="focus18=true" (blur)="focus18=false">
                          <label for="otherAuthorization">No</label>
                        </div>
                      </div>
                      <div
                        *ngIf="signupForm.get('interestedInInternship').hasError('required') && signupForm.get('interestedInInternship').touched"
                        class="text-danger">
                        Interested in internship is required.
                      </div>
                    </div>
                  </div>


                </div>








                <div class="text-center">
                  <button type="submit" class="btn btn-primary mt-4">Create account</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>








<script src="https://www.gstatic.com/firebasejs/9.0.0/firebase-app.js"></script>

<!-- Add Firebase Authentication (optional) -->
<script src="https://www.gstatic.com/firebasejs/9.0.0/firebase-auth.js"></script>

<!-- Your web app's Firebase configuration -->
<script>
  // var firebaseConfig = {
  //   apiKey: "YOUR_API_KEY",
  //   authDomain: "YOUR_AUTH_DOMAIN",
  //   projectId: "YOUR_PROJECT_ID",
  //   storageBucket: "YOUR_STORAGE_BUCKET",
  //   messagingSenderId: "YOUR_MESSAGING_SENDER_ID",
  //   appId: "YOUR_APP_ID"
  // };


  const firebaseConfig = {
  apiKey: "AIzaSyA-ASCBaK66Xt3_96fX5WPujtWg8ppOBSk",
  authDomain: "course-9c5ef.firebaseapp.com",
  projectId: "course-9c5ef",
  storageBucket: "course-9c5ef.appspot.com",
  messagingSenderId: "701052805244",
  appId: "1:701052805244:web:14d101a906b4bc23bbe9f9",
  measurementId: "G-EY0TJ16Q74"
};

  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script>




<script>
  // Function to register a user
  function registerUser() {
    const email = document.getElementById('email').value;
    const password = document.getElementById('password').value;

    // Use Firebase Auth API to create a user
    firebase.auth().createUserWithEmailAndPassword(email, password)
      .then((userCredential) => {
        // User registered successfully
        const user = userCredential.user;
        console.log('User registered:', user);
      })
      .catch((error) => {
        // Handle errors during registration
        const errorCode = error.code;
        const errorMessage = error.message;
        console.error('Registration error:', errorCode, errorMessage);
      });
  }
</script>