
<section class="section section-shaped"  style="padding-top: 2rem;
padding-bottom: 3rem;">
    <div class="shape shape-style-1 bg-gradient-default">
    </div>
</section>



<div style="background-color: #d5d8ea; color: white; text-align: center; height: 100vh; width: 100%;" class="sectionpage_notfound">
    <div class="found_section" style="position: relative; top: 5rem;">
      <h2 class="oops" style="color: black;">Oops! Page not found.</h2>
      <h1 class="pagenotfound" style="font-size: 186px; font-weight: 900; color: white;">404</h1>
      <p style="font-size: 100px; color: white;">:(</p>
      <a [routerLink]="['/home']">
        <button class="btn btn-primary" >Go back home</button>
      </a>
    </div>
  </div>



  